.leftpadding{padding-left:15px;}
textarea {overflow-y: visible!important;}
#headers{height: 6rem !important;}
#body{height: 12rem !important;}
#responseH{height: 14rem !important;}
#responseB{height: 26rem !important;}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
